---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
    <section class="p-4">
        <h1>About Me</h1>
        <p>
            Hi, nice to meet you! I'm Edward, a software engineer who's
            passionate about bringing people's visions to life!
        </p>
        <p>
            I'm currently finishing up my degree in Data Science and Math-CS at
            UC San Diego.
        </p>
        <p>
            When I'm not _____ , you can find me watching the latest F1 race,
            embroidering Snoopy onto my clothes, or learning a new song on the
            guitar!
        </p>
    </section>
    <section class="p-4">
        <h2>My Vision Board</h2>
    </section>
</Layout>
