<footer
    class="w-full fixed bottom-0 left-0 flex flex-row justify-between items-center p-4 border-t bg-white md:hidden dark:bg-neutral-800 dark:border-neutral-600"
>
    <nav class="flex flex-row items-center">
        <ul class="flex flex-row gap-6">
            <li>
                <a href="/projects" class="hover:underline underline-offset-2"
                    ><p>Projects</p></a
                >
            </li>
            <li>
                <a href="/about" class="hover:underline underline-offset-2"
                    ><p>About</p></a
                >
            </li>
            <li>
                <a
                    href="/resume.pdf"
                    target="_blank"
                    class="hover:underline underline-offset-2"><p>Resume</p></a
                >
            </li>
        </ul>
    </nav>
    <a
        href="mailto:edwardznew@gmail.com"
        class="hover:underline underline-offset-2"><p>Contact Me!</p></a
    >
</footer>
<div class="h-14"></div>
