---
import LinkedinIcon from "../assets/linkedin.svg";
import GithubIcon from "../assets/github.png";
---

<!-- TODO: find svg github icon also need to match the border radiuses on the corners and colors --><!-- TODO: add favicon and ogimage -->
<header class="w-full fixed top-0 left-0 p-4 border-b">
    <nav class="flex flex-row justify-between">
        <a href="/" class="flex flex-row items-center gap-2">
            <div class="font-bold font-serif">E</div>
            <p class="font-serif font-semibold">Edward New</p>
        </a>

        <ul class="flex flex-row items-center gap-2">
            <li>
                <a
                    href="https://www.linkedin.com/in/edward-new/"
                    target="_blank"
                >
                    <img
                        src={LinkedinIcon.src}
                        height="32"
                        width="32"
                        alt="Linkedin"
                    /></a
                >
            </li>
            <li>
                <a href="https://github.com/EdwardNew" target="_blank">
                    <img
                        src={GithubIcon.src}
                        height="27"
                        width="27"
                        alt="Linkedin"
                    /></a
                >
            </li>
            <!-- TODO: think about adding a dark mode swtich/button -->
        </ul>
    </nav>
</header>

<style></style>
