@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Nunito";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("/src/assets/fonts/Nunito/Nunito-Regular.woff2")
            format("woff2");
    }

    @font-face {
        font-family: "Amulya";
        font-style: bold;
        font-display: swap;
        src: url("/src/assets/fonts/Amulya/Amulya-Bold.woff2") format("woff2");
    }

    html p {
        @apply font-body;
    }

    html h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-heading;
    }
}
