---
import "../assets/styles/global.css";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Sparkles from "../assets/sparkles.png";
import SparklesDark from "../assets/sparkles-dark.png";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link
            rel="icon"
            type="image/svg+xml"
            href={Sparkles.src}
            media="(prefers-color-scheme: light)"
        />
        <!-- <link
            rel="icon"
            type="image/svg+xml"
            href={SparklesDark.src}
            media="(prefers-color-scheme: dark)"
        /> -->
        <meta name="generator" content={Astro.generator} />
        <title>Edward New | {title}</title>
    </head>
    <body>
        <Header />
        <slot />
        <p class="my-8 px-4 text-center">made with love, by me! c:</p>
        <Footer />
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        min-height: 150dvh;
    }
</style>
